.btn-pers{
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #bfbfbf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#bfbfbf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#bfbfbf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f2f2 0%,#bfbfbf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f2f2 0%,#bfbfbf 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#bfbfbf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
  padding: 4px 13px;
  border-radius: 3px;
  color: #3a3a3a;
  border: 1px solid #bdc8d5;
  @include box-shadow(0 1px 3px rgba(40, 55, 77, 0.55));
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}

.btn-red{
  background: #a02718; /* Old browsers */
  background: -moz-linear-gradient(top,  #a02718 0%, #871d1b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a02718), color-stop(100%,#871d1b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a02718 0%,#871d1b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a02718 0%,#871d1b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a02718 0%,#871d1b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a02718 0%,#871d1b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02718', endColorstr='#871d1b',GradientType=0 ); /* IE6-9 */
  padding: 4px 13px;
  border-radius: 3px;
  color: #FFFFFF;
  border: 0;
  @include box-shadow(0 1px 3px rgba(40, 55, 77, 0.55));
  @include transition(all 0.35s);

  &:hover{
    color: #FFFFFF;
    background: #ab2c1a; /* Old browsers */
    background: -moz-linear-gradient(top,  #ab2c1a 0%, #c13824 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ab2c1a), color-stop(100%,#c13824)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ab2c1a 0%,#c13824 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ab2c1a 0%,#c13824 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ab2c1a 0%,#c13824 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ab2c1a 0%,#c13824 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab2c1a', endColorstr='#c13824',GradientType=0 ); /* IE6-9 */

  }
}
.btn-incren{
  background: none;
  border: 0;
  color: #2e2e2e;
  display: inline-block;
  font-size: 20px;
}
.open-collapse{
  background-color: #e5b534;
  color: #a52918;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  padding: 2px 7px;


}
.close-btn{
  background-color: #FFFFFF;
  padding: 1px 8px;
  color: #a52918;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;

}

.btn-delete{
  border: 1px solid #c2961e;
  background: none;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  color: #a9841f;
  font-size: 14px;
  font-family: Arial;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8be4c+1,c09624+100 */
  background: #e8be4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8be4c 1%, #c09624 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e8be4c), color-stop(100%,#c09624)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e8be4c 1%,#c09624 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e8be4c 1%,#c09624 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e8be4c 1%,#c09624 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e8be4c 1%,#c09624 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8be4c', endColorstr='#c09624',GradientType=0 ); /* IE6-9 */
  @include transition(all 0.35s);
  padding: 0;
  text-align: center;
  line-height: 20px;

  &:hover{
    color: #FFFFFF;
    border: 1px solid #a52918;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b34b3d+1,8b2315+100 */
    background: #b34b3d; /* Old browsers */
    background: -moz-linear-gradient(top,  #b34b3d 1%, #8b2315 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b34b3d), color-stop(100%,#8b2315)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b34b3d 1%,#8b2315 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b34b3d 1%,#8b2315 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b34b3d 1%,#8b2315 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b34b3d 1%,#8b2315 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b34b3d', endColorstr='#8b2315',GradientType=0 ); /* IE6-9 */

  }
}