/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2015, 4:39:26 PM
    Author     : mstarniciuc
*/
.icons{
  display: inline-block;
  vertical-align: middle;
  background: url("../img/icons.png") no-repeat 0 0;

  &.time{
    width: 42px;
    height: 42px;
    background-position: 0 -34px;
  }

  &.basket{
    width: 36px;
    height: 32px;
    background-position: 0 0px;
  }

  &.reg{
    width: 16px;
    height: 16px;
    background-position: -36px -1px;
  }

  &.login{
    width: 16px;
    height: 16px;
    background-position: -52px -1px;
  }

  &.home{
    width: 42px;
    height: 42px;
    background-position: -42px -35px;
  }

  &.tel{
    width: 25px;
    height: 32px;
    background-position: -72px 0px;
  }

  &.tel{
    width: 25px;
    height: 32px;
    background-position: -72px 0px;
  }

  &.search{
    width: 25px;
    height: 32px;
    background-position: -95px 5px;
  }
}

.icons-social{
  background: url("../img/social-icons.png") no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;

  &.vk{
    background-position: 0 0;
  }

  &.ok{
    background-position: -33px 0;
  }

  &.tw{
    background-position: -99px 0;
  }

  &.gp{
    background-position: -132px 0;
  }

  &.plus{
    background-position: -165px 0;
  }
}

.icon{
  display: inline-block;
  vertical-align: middle;

  &.word{
    background: url("../img/doc.png") no-repeat 0 0;
    width: 27px;
    height: 27px;
  }

  &.promo{
    background: url("../img/promo_icon.png") no-repeat 0 0;
    width: 32px;
    height: 32px;

    &.big{
      background: url("../img/promo_icon_big.png") no-repeat 0 0;
      width: 60px;
      height: 60px;
    }
  }

  &.new{
    background: url("../img/new_icon.png") no-repeat 0 0;
    width: 32px;
    height: 32px;

    &.big{
      background: url("../img/new_icon_big.png") no-repeat 0 0;
      width: 60px;
      height: 60px;
    }
  }

  &.add-news{
    width: 29px;
    height: 24px;
    background: url("../img/add-icon.png") no-repeat 0 0;
  }

  &.verify{
    width: 22px;
    height: 21px;
    background: url("../img/verify.png") no-repeat 0 0;
  }
  
  &.not-verify{
    width: 22px;
    height: 21px;
    background: url("../img/not-verify.png") no-repeat 0 0;
  }
}

.tool-icon{
  display: inline-block;
  vertical-align: middle;
  background: url("../img/tool-icon.png") no-repeat 0 0;

  &.sanitary{
    width: 25px;
    height: 29px;
  }

  &.tiles{
    width: 29px;
    height: 29px;
    background-position: 0 -30px;
  }

  &.painting{
    background-position: 0 -59px;
    width: 29px;
    height: 30px;
  }

  &.redevelopment{
    background-position: 0 -89px;
    width: 29px;
    height: 30px;
  }

  &.electrics{
    background-position: 0 -120px;
    width: 25px;
    height: 33px;
  }

  &.home{
    background-position: 0 -155px;
    width: 30px;
    height: 30px;
  }

  &.cube{
    background-position: 0 -185px;
    width: 35px;
    height: 30px;
  }

  &.magnet{
    background-position: 0 -218px;
    width: 28px;
    height: 25px;
  }

  &.trasport{
    background-position: 0 -245px;
    width: 38px;
    height: 22px;
  }

  &.placing{
    background-position: 0 -267px;
    width: 36px;
    height: 16px;
  }

  &.doors{
    background-position: 0 -285px;
    width: 29px;
    height: 31px;
  }

  &.ceilings{
    background-position: 0 -318px;
    width: 33px;
    height: 25px;
  }

  &.ventilation{
    background-position: 0 -344px;
    width: 35px;
    height: 25px;
  }

  &.design{
    background-position: 0 -372px;
    width: 31px;
    height: 22px;
  }

  &.facade{
    background-position: 0 -393px;
    width: 30px;
    height: 30px;
  }

  &.housetop{
    background-position: 0 -424px;
    width: 35px;
    height: 20px;
  }

  &.wather{
    background-position: 0 -444px;
    width: 30px;
    height: 16px;
  }

  &.cctv{
    background-position: 0 -461px;
    width: 30px;
    height: 24px;
  }
}
.icon-filter{
  display: inline-block;
  vertical-align: middle;
  background: url("../img/icon-filter.png") no-repeat 0 0;
  width: 22px;
  height: 23px;
  
  &.star{
    background-position: 1px 0;
  }
  
  &.percent{
    background-position: -21px 0;
  }
  
  &.new{
    background-position: -44px 0;
  }
}
